.mt-100 {
    margin-top: 100px
}

.mb-30 {
    margin-bottom: 30px
}

.jumbotron{
    background-image: url('https://lh3.googleusercontent.com/proxy/29zF5ZuJzCJtdN7ov2J0kXFwVHr2lQwhzqE-AlBlidrGY3vKveAV0vVTCyugfG5FVJnyF969CZQ0EeqwFheShbIrPyza_g');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.check {
    width:200px;
    height: 26px;
    margin-left: 15px;
}

label.check {
    cursor: pointer
}

label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.check span {
    padding: 0px 7px;
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase
}

label.check input:checked+span {
    border-color: #8f37aa;
    background-color: #8f37aa;
    color: #fff
}
